@model List<Item>
<section id="portfolio" class="portfolio">
  
    <div class="container" data-aos="fade-up">



        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
            @foreach (var item in Model)
            {

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="/./assets/img/صور-بيتزا.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>@item.Price L.E</h4>
                            <p>@item.Product</p>
                            <div class="portfolio-links">
                                <a href="~/./assets/img/@item.Image" data-gallery="portfolioGallery"
                                   class="portfokio-lightbox" title="مشروم"><i class="bi bi-plus"></i></a>
                                <a href="~/./inner-page 4.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>


</section><!-- End Portfolio Section -->