<!-- ======= Values Section ======= -->
<section id="values" class="values">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h1>العروض</h1>
        </header>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <img src="~/assets/img/@item.Image" class="img-fluid" alt="">
                        <h3> @item.Titel </h3>
                        <p>@item.Product </p>
                        <p> كود الطلب  ( @item.Discount ) </p>
                        <span> @item.Price L.E</span>
                        <a class="nav-link scrollto" href="#">طلب اوردر</a>
                    </div>
                </div>
            }


        </div>

    </div>
</section>
